/* Центрирование карточки */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Центрирование по вертикали */
}

/* Стили для карточки */
.login-card {
  width: 90%; /* Ширина карточки (90% от ширины экрана) */
  max-width: 600px; /* Максимальная ширина карточки */
  padding: 20px; /* Внутренние отступы карточки */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень карточки */
  border-radius: 8px; /* Скругление углов */
}

/* Стили для заголовка */
.header {
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: center; /* Центрирование заголовка */
}

/* Контейнер для формы */
.login-form-container {
  display: flex;
  flex-direction: column; /* Элементы друг под другом */
  align-items: stretch; /* Растягиваем элементы на всю ширину */
  width: 100%; /* Занимает всю доступную ширину */
}

/* Стили для формы */
form {
  display: flex;
  flex-direction: column; /* Элементы формы друг под другом */
  gap: 20px; /* Отступы между элементами */
}

/* Отступы для полей ввода */
.mat-form-field {
  width: 100%; /* Растягиваем поля ввода на всю ширину */
}

/* Стили для кнопки */
button {
  width: 100%; /* Растягиваем кнопку на всю ширину */
  margin-top: 10px; /* Отступ сверху */
  padding: 10px; /* Внутренние отступы кнопки */
  font-size: 16px; /* Размер текста кнопки */
}
